<div class="container">
    <div class="header-inner center">
        <h1>Our activities</h1>
        <h3>We are involved in solutions for your IT Infrastructures and Open-Source Computing</h3>
   </div><!-- /.page-header -->
    <div class="content-admin-main-inner cards-simple-wrapper">
        <div class="row">

            <div class="col-sm-6 col-md-3">
                <div class="card-simple" data-background-image="assets/img/tmp/product-2.jpg">
                    <div class="card-simple-background">
                        <img src={{ "img/photos/activities/ubuntu.jpg"}} >
                        <div class="card-simple-content">
                            <h2><a href="#">IT Services & Support</a></h2>
                            <div class="card-simple-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- /.card-rating -->

                            <div class="card-simple-actions">
                                <a href="#" class="fa fa-bookmark-o"></a>
                                <a href="#" class="fa fa-search"></a>
                                <a href="#" class="fa fa-heart-o"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">Ubuntu</div>
                        <div class="card-simple-price">Administration</div>
                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->

            <div class="col-sm-6 col-md-3">
                <div class="card-simple" data-background-image="assets/img/photos/activities/computer.jpg">

                    <div class="card-simple-background">
                        <img src={{ "img/photos/activities/computer.jpg"}} >
                        <div class="card-simple-content">
                            <h2><a href="#">User Computing</a></h2>
                            <div class="card-simple-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- /.card-rating -->

                            <div class="card-simple-actions">
                                <a href="#" class="fa fa-bookmark-o"></a>
                                <a href="#" class="fa fa-search"></a>
                                <a href="#" class="fa fa-heart-o"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">Computer and Devices</div>

                        <div class="card-simple-price">Assistance & Advice</div>

                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->



            <div class="col-sm-6 col-md-3">
                <div class="card-simple" data-background-image="assets/img/tmp/product-4.jpg">
                    <div class="card-simple-background">
                        <img src={{ "img/photos/activities/odoo.jpg"}} >
                        <div class="card-simple-content">
                            <h2><a href="#">ERP Solutions</a></h2>
                            <div class="card-simple-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- /.card-rating -->

                            <div class="card-simple-actions">
                                <a href="#" class="fa fa-bookmark-o"></a>
                                <a href="#" class="fa fa-search"></a>
                                <a href="#" class="fa fa-heart-o"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">Partnership</div>
                        <div class="card-simple-price">Open Source Apostle</div>
                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->



            <div class="col-sm-6 col-md-3">
                <div class="card-simple" data-background-image="assets/img/tmp/product-5.jpg">
                    <div class="card-simple-background">
                        <img src={{ "img/photos/activities/code.jpg"}} >
                        <div class="card-simple-content">
                            <h2><a href="#">Web Development</a></h2>
                            <div class="card-simple-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div><!-- /.card-rating -->

                            <div class="card-simple-actions">
                                <a href="#" class="fa fa-bookmark-o"></a>
                                <a href="#" class="fa fa-search"></a>
                                <a href="#" class="fa fa-heart-o"></a>
                            </div><!-- /.card-simple-actions -->
                        </div><!-- /.card-simple-content -->

                        <div class="card-simple-label">Symfony / PHP / MySQL</div>
                        <div class="card-simple-price">Dev</div>
                    </div><!-- /.card-simple-background -->
                </div><!-- /.card-simple -->
            </div><!-- /.col-* -->

        </div><!-- /.row -->
    </div><!-- /.cards-simple-wrapper -->
</div><!-- /.container -->
