.form-control {
    height: 3em !important;
}

.whiteText {
    color: #fff;
}

.greyText {
    color: rgba(54, 54, 54, 0.6);
}

.backWhite {
    background-color: #fff;
}

.backColor {
    background-color: #009f8b;
}

.margBot {
    margin-bottom: 2em;
}

.margCenter {
    margin: 0 auto;
}

.margLeft {
    margin-left: 2em;
}

.noMarg {
    margin: 0;
}

.margTop {
    margin-top: 2em;
}

.paddLeft {
    padding-left: 2em;
}

.paddOne {
    padding: 1em;
}

.minusPaddOne {
    padding: 0.2em 0.3em;
}

.noPadd {
    padding: 0;
}

.fullPage {
    height: 100vh;
}

.fullHeight {
    height: 100%;
}

.alignHVCenter {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.warning {
    background-color: #FFA500;
    color: #040404;
    padding: 0.3em;
    border-radius: 2px;
}

.warningMsg {
    color: #FFA500;
    padding: 0 0 1em 0;
}

.alignLeft {
    text-align: left;
}

/**
ADMIN HERE
 */

.admin {
    height: 100vh;
}

.inputSearchAdmin input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #444;
    opacity: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inputSearchAdmin input::-moz-placeholder { /* Firefox 19+ */
    color: #444;
    opacity: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inputSearchAdmin input:-ms-input-placeholder { /* IE 10+ */
    color: #444;
    opacity: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inputSearchAdmin input:-moz-placeholder { /* Firefox 18- */
    color: #444;
    opacity: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header-statusbar-search:after {
    color: #444;
}

.adminSmall {
    color: #009f8b;
}

.noStyle {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

.noStyle .btn:after {
    background: none;
}

.hero-slider .carousel-control.right, .hero-slider .carousel-control.left {
    margin: 0 !important;
    z-index: 9999;
}

.hero-image-inner {
    height: auto;
}

.header-home {
    padding: 0;
}

.admin .header-statusbar {
    padding: 0.5em 2em;
}

.admin .headerAdmin {
    padding: 1em;
}

.admin .header-logo {
    padding-bottom: 0.5em;
    height: auto;
}

.admin .header-logo > a > span {
    color: #fff;
}

.admin .helloUser {
    margin: 0;
}

.admin .alert-success {
    background-color: #009f8b;
    border-color: #009f8b;
}

/**
END ADMIN HERE
 */

.search {
    padding: 1em 0;
    font-size: 2.0rem;
}

.search:hover {
    cursor: pointer;
}

.languageAwe {
    font-size: 1.1rem !important;
}

.alignVCenter {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.front .colorAuth {
    color: #fff;
}

.fullWidth {
    width: 100%;
}

/**
PROFILE HERE
 */

.profile {
    height: 100vh;
}

.profile > .page-wrapper > .main > .row {
    padding-top: 5em;
}

.informations {
    padding: 0 5em 0 0;
}

.services, .authentification {
    padding: 0 5em;
}

.front .floatRight {
    float: right;
}

.inputHide input[type=checkbox], input[type=radio] {
    display: none !important;
}

.inputHide {
    display: none !important;
}
